:root {
  --header-font: "Comfortaa", cursive;
  --body-font: "Dosis", sans-serif;
  --primary: #ff9a26;
  --secondary: #9666ff;
  --tertiary: #185af2;
}

#siteHeaderTitle,
#dest1Header,
#dest2Header {
  font-family: var(--header-font);
}

body {
  text-align: center;
  height: 3000px;
  background-image: radial-gradient(
    circle,
    rgba(255, 154, 38, 1) 30%,
    rgba(150, 102, 255, 1) 55%,
    rgba(24, 90, 242, 1) 100%
  );
  background-repeat: no-repeat;
}

/* site header */
.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--primary);
  padding-bottom: 30px;
}

.fa-3x {
  position: relative;
  top: 6px;
  color: var(--primary);
}

/* search/favorite bar */
#dest1Header,
#dest2Header {
  color: var(--primary);
}

.city {
  background-image: url("https://source.unsplash.com/900x675/?city");
  border: black;
  border-radius: 25px;
}

h4 {
  background-color: white;
}

h5 {
  color: var(--primary);
}

#input {
  font-family: var(--body-font);
  font-size: 20px;
  color: var(--primary);
  justify-content: center;
  margin: 5px 10px 5px 10px;
  width: 50%;
  float: left;
}

.grid {
  margin: 80px;
  padding: 30px;
}

.card {
  margin: 3px;
}

.faves {
  background-color: transparent;
  border-radius: 25px;
  display: none;
}

/* search button */
.search-button {
  font-family: var(--body-font);
  font-size: 20px;
  border-radius: 25px;
  background-color: var(--secondary);
}

.search-button:hover {
  background-color: var(--primary);
}

.search-button:focus {
  background-color: var(--primary);
}

/* like button */
.button-like {
  border: 2px solid var(--secondary);
  background-color: white;
  text-decoration: none;
  padding: 1rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: var(--secondary);
  transition: all ease 0.4s;
}

.button-like span {
  margin-left: 0.5rem;
}

.button-like .fa,
.button-like span {
  transition: all ease 0.4s;
}

.button-like:focus {
  background-color: transparent;
}

.button-like:focus .fa,
.button-like:focus span {
  color: #8a8a8a;
}

.button-like:hover {
  border-color: var(--primary);
  background-color: transparent;
}

.button-like:hover .fa,
.button-like:hover span {
  color: var(--primary);
}

.liked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.liked .fa,
.liked span {
  color: #fefefe;
}

.liked:focus {
  background-color: var(--primary);
}

.liked:focus .fa,
.liked:focus span {
  color: #fefefe;
}

.liked:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

.liked:hover .fa,
.liked:hover span {
  color: #fefefe;
}

@media only screen and (max-width: 815px) {
  body {
    background-image: radial-gradient(
      circle,
      rgba(255, 154, 38, 1) 30%,
      rgba(150, 102, 255, 1) 55%,
      rgba(24, 90, 242, 1) 100%
    );
    background-repeat: repeat;
  }
}
