body {
  text-align: center;
  background-image: url("https://source.unsplash.com/1600x900/?city");
}

.hero {
  background-color: white;
}

.city {
  background-color: black;
  background-color: rgba(18, 16, 16, 0.5);
  border: black;
  border-radius: 25px;
}

h4 {
  background-color: white;
}

#input {
  justify-content: center;
  margin: 5px 15px 5px 15px;
  width: 50%;
  float: left;
}
.grid {
  margin: 80px;
  padding: 30px;
}

.card {
  margin: 3px;
}
.search-button {
  border-radius: 25px;
}
.button-like {
  border: 2px solid #8a8a8a;
  background-color: white;
  text-decoration: none;
  padding: 1rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: #8a8a8a;
  transition: all ease 0.4s;
}

.button-like span {
  margin-left: 0.5rem;
}

.button-like .fa,
.button-like span {
  transition: all ease 0.4s;
}

.button-like:focus {
  background-color: transparent;
}

.button-like:focus .fa,
.button-like:focus span {
  color: #8a8a8a;
}

.button-like:hover {
  border-color: #cc4b37;
  background-color: transparent;
}

.button-like:hover .fa,
.button-like:hover span {
  color: #cc4b37;
}

.liked {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked .fa,
.liked span {
  color: #fefefe;
}

.liked:focus {
  background-color: #cc4b37;
}

.liked:focus .fa,
.liked:focus span {
  color: #fefefe;
}

.liked:hover {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked:hover .fa,
.liked:hover span {
  color: #fefefe;
}
